In [53]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
from DB_config import DB_NAME, DB_PWD # Please check Resources folder
import openpyxl

## Extract CSVs and Excel Sheets into DataFrames

#### 1. Extract game.csv for AFL Game Results

In [2]:
game_file = "Resources/games.csv"
game_df = pd.read_csv(game_file)
game_df.head()

,gameId,year,round,date,venue,startTime,attendance,homeTeam,homeTeamScore,awayTeam,awayTeamScore,rainfall
0,2021SF02,2021,SF,4-Sep-21,Gabba,7:20 PM,30647,Brisbane Lions,78,Western Bulldogs,79,2.2
1,2021SF01,2021,SF,3-Sep-21,Perth Stadium,5:50 PM,44091,Geelong,103,Greater Western Sydney,68,4.6
2,2021R909,2021,R9,16-May-21,Perth Stadium,2:40 PM,43427,West Coast,106,Adelaide,76,0.0
3,2021R908,2021,R9,16-May-21,M.C.G.,3:20 PM,38581,Melbourne,94,Carlton,68,0.1
4,2021R907,2021,R9,16-May-21,Docklands,1:10 PM,26357,Essendon,68,Fremantle,61,0.1

#### 2. Extract status.csv for AFL team player's Performance Report

In [3]:
stats_file = "Resources/stats.csv"
stats_df = pd.read_csv(stats_file)
stats_df.head()

,gameId,team,year,round,playerId,displayName,gameNumber,Disposals,Kicks,Marks,...,Brownlow Votes,Contested Possessions,Uncontested Possessions,Contested Marks,Marks Inside 50,One Percenters,Bounces,Goal Assists,% Played,Subs
0,2021R104,Adelaide,2021,R1,2021661124,"Berry, Sam",1,8,6,1,...,0,4,5,0,0,0,0,1,80,-
1,2021R104,Adelaide,2021,R1,2012662083,"Brown, Luke",168,5,2,0,...,0,2,3,0,0,0,0,0,23,Off
2,2021R104,Adelaide,2021,R1,2020665315,"Butts, Jordon",3,10,5,3,...,0,5,5,1,0,8,0,0,93,-
3,2021R104,Adelaide,2021,R1,2018689604,"Doedee, Tom",31,13,9,4,...,0,8,6,0,0,7,0,0,84,-
4,2021R104,Adelaide,2021,R1,2018703883,"Frampton, Billy",9,14,10,8,...,0,5,9,3,4,2,0,0,90,-

#### 3. Extract the sheet1 of AFL_Stadiums.xlsx for Venues

In [6]:
venue_file = "Resources/AFL_Stadiums.xlsx"
venue_df = pd.read_excel(io=venue_file,sheet_name=0,header=3)
venue_df.columns=['venue_name', 'in_use', 'games', 'goals', 'behinds', 'points', 'ave_sore', 'over_100']
venue_df.head()

      venue_name     in_use  games  goals  behinds  points  ave_sore  over_100
0         M.C.G.  1897-2022   2984  76566    74346  533742     89.43      2106
1   Princes Park  1897-2005   1277  31318    33362  221270     86.64       854
2      Docklands  2000-2022   1021  28445    23440  194110     95.06       860
3  Victoria Park  1897-1999    880  19679    22139  140213     79.67       443
4  Junction Oval  1897-1984    734  15692    18378  112530     76.66       319

#### 4. Extract the sheet2 of AFL_Stadiums.xlsx for AFL Stadiums

In [7]:
stadium_file = "Resources/AFL_Stadiums.xlsx"
stadium_df = pd.read_excel(io=stadium_file,sheet_name=1,header=2)
stadium_df.columns=['name', 'city_name', 'state_name', 'capacity']
stadium_df.head()

                   name   city_name       state_name  capacity
0         Adelaide Oval    Adelaide  South Australia   53500.0
1         Alberton Oval    Adelaide  South Australia   11000.0
2  Albury Sports Ground      Albury  New South Wales    8000.0
3        Allinsure Park  Queanbeyan  New South Wales    8000.0
4     Arden Street Oval   Melbourne         Victoria    4000.0

## Transform premise DataFrame

### 1. Transform stats DataFrame to player table

In [8]:
player_cols = ["playerId", "displayName"]
player_transformed = stats_df[player_cols].copy()

# split First name and Last name from full name 
player_name = player_transformed['displayName'].str.split(',', expand=True)
player_transformed['first_name']=player_name[1]
player_transformed['last_name']=player_name[0]

player_transformed.drop('displayName',axis=1,inplace=True)

# Rename the column headers
player_transformed = player_transformed.rename(columns={"playerId": "player_id"})

# Clean the data by dropping duplicates and setting the index
player_transformed.drop_duplicates("player_id", inplace=True)
player_transformed.set_index("player_id", inplace=True)

player_transformed.head()

           first_name last_name
player_id
2021661124        Sam     Berry
2012662083       Luke     Brown
2020665315     Jordon     Butts
2018689604        Tom    Doedee
2018703883      Billy  Frampton

### 2.Transform stats DataFrame to team table

In [9]:
team_transformed = stats_df["team"].copy()
team_transformed.drop_duplicates(inplace=True)

team_transformed = team_transformed.reset_index()

# set auto-increment ID as team_id
team_transformed['team_id'] = range(1,len(team_transformed)+1)

team_transformed.rename(columns = {'team':'team_name'}, inplace = True)
team_transformed.set_index("team_id", inplace=True)
team_transformed.drop('index',axis=1,inplace=True)

team_transformed.head()

              team_name
team_id
1              Adelaide
2        Brisbane Lions
3               Carlton
4           Collingwood
5              Essendon

### 3. Transform stadium DataFrame to city table

In [10]:
city_cols = ['city_name', 'state_name']
city_transformed = stadium_df[city_cols].copy()

city_transformed.drop_duplicates("city_name", inplace=True)
city_transformed['city_id'] = range(1,len(city_transformed)+1)

city_transformed.set_index("city_id", inplace=True)

city_transformed.head()

          city_name       state_name
city_id
1          Adelaide  South Australia
2            Albury  New South Wales
3        Queanbeyan  New South Wales
4         Melbourne         Victoria
5          Ballarat         Victoria

In [11]:
venue_cols = ['venue_name', 'in_use']
venue = venue_df[venue_cols].copy()

venue['start_year'] = venue['in_use'].astype(str).str[0:4].astype(int)
venue['end_year'] = venue['in_use'].astype(str).str[-4:].astype(int)
venue['stadium_id'] = range(1,len(venue)+1)

# venue.set_index("venue_id", inplace=True)

venue.head()

      venue_name     in_use  start_year  end_year  stadium_id
0         M.C.G.  1897-2022        1897      2022           1
1   Princes Park  1897-2005        1897      2005           2
2      Docklands  2000-2022        2000      2022           3
3  Victoria Park  1897-1999        1897      1999           4
4  Junction Oval  1897-1984        1897      1984           5

### 4. Transform stadium DataFrame

In [12]:
stadium_df.replace('Melbourne Cricket Ground','M.C.G.', inplace=True)
stadium_df.replace('Sydney Cricket Ground','S.C.G.', inplace=True)
stadium_df.replace('Jiangwan Stadium (CHN)','Jiangwan Stadium', inplace=True)

stadium_transformed = pd.merge(stadium_df, venue, left_on='name', right_on='venue_name')


def get_city_id(x):
    city_rows = city_transformed.loc[city_transformed['city_name'] == x]
    if len(city_rows)>0:
        return city_rows.index.values[0]
    else:
        return ''
stadium_transformed['city_id'] = stadium_transformed['city_name'].map(get_city_id)


def is_stadium_active(x):
    if x < 2022:
        return False
    else:
        return True
stadium_transformed['active_ind'] = stadium_transformed['end_year'].map(is_stadium_active)


stadium_transformed.drop('city_name', axis=1, inplace=True)
stadium_transformed.drop('state_name', axis=1, inplace=True)
stadium_transformed.drop('venue_name', axis=1, inplace=True)
stadium_transformed.drop('in_use', axis=1, inplace=True)
# stadium_transformed.drop('start_year', axis=1, inplace=True)
# stadium_transformed.drop('end_year', axis=1, inplace=True)


stadium_transformed.drop_duplicates("stadium_id", inplace=True)
stadium_transformed.set_index("stadium_id", inplace=True)



stadium_transformed.head(50)

,name,capacity,start_year,end_year,city_id,active_ind
stadium_id,,,,,,
23,Adelaide Oval,53500.0,2011,2022,1,True
18,Gabba,41974.0,1981,2022,11,True
16,Glenferrie Oval,10000.0,1925,1973,4,False
39,Jiangwan Stadium,12000.0,2017,2019,31,False
29,Manuka Oval,16000.0,1998,2022,29,True
1,M.C.G.,100024.0,1897,2022,4,True
42,Riverway Stadium,10000.0,2019,2019,50,False
17,S.C.G.,48000.0,1903,2022,6,True
33,Toorak Park,7000.0,1942,1943,4,False
4,Victoria Park,10000.0,1897,1999,4,False
10,Windy Hill,10000.0,1922,1991,4,False
37,Yarraville Oval,6000.0,1942,1942,4,False

### 5.Transform stats DataFrame adding player performance

In [62]:
stats_cols = ["gameId", "year", "team", "playerId", "Rebounds","Inside 50s","Clearances","Contested Possessions"]
stats_transformed = stats_df[stats_df['year'] >= 2018][stats_cols].copy()


stats_transformed = stats_transformed.rename(columns={"gameId": "game_id",
                                                        "year": "year",
                                                        "playerId": "player_id",
                                                        "Rebounds": "rebounds",
                                                        "Clearances": "clearances",
                                                        "Inside 50s": "inside_50s",
                                                        "Contested Possessions": "contested_possessions",
                                                     })

def get_team_id(x):
    team_rows = team_transformed.loc[team_transformed['team_name'] == x]
    if len(team_rows)>0:
        return team_rows.index.values[0]
    else:
        return ''
stats_transformed['team_id'] = stats_transformed['team'].map(get_team_id)

stats_transformed.drop('team', axis=1, inplace=True)

stats_transformed.drop_duplicates("game_id", inplace=True)
stats_transformed.set_index("game_id", inplace=True)

stats_transformed.tail()

,year,player_id,rebounds,inside_50s,clearances,contested_possessions,team_id
game_id,,,,,,,
2018R109,2018,2012674793,0,1,1,7,16
2018R404,2018,2016655002,0,2,0,2,16
2018R1302,2018,2016655002,4,1,0,5,16
2018R207,2018,2015662872,2,1,0,6,17
2018R1808,2018,2016676071,0,0,0,2,17

### 6. Transform game DataFrame

In [41]:
game_transformed = game_df[game_df['year'] >= 2018]


game_transformed = game_transformed.rename(columns={"gameId": "game_id",
                                                        "startTime": "start_time",
                                                        "homeTeamScore": "home_team_score",
                                                        "awayTeamScore": "away_team_score",
                                                        "rainfall": "rain_fall"
                                                     })

game_transformed['home_team_id'] = game_transformed['homeTeam'].map(get_team_id)
game_transformed['away_team_id'] = game_transformed['awayTeam'].map(get_team_id)
game_transformed.drop('homeTeam', axis=1, inplace=True)
game_transformed.drop('awayTeam', axis=1, inplace=True)


game_transformed = pd.merge(game_transformed, venue, left_on='venue', right_on='venue_name')
game_transformed.drop('venue', axis=1, inplace=True)
game_transformed.drop('start_year', axis=1, inplace=True)
game_transformed.drop('end_year', axis=1, inplace=True)
game_transformed.drop('in_use', axis=1, inplace=True)


game_transformed['date'] = pd.to_datetime(game_transformed['date'], format='%d-%b-%y')
game_transformed['start_time'] = pd.to_datetime(game_transformed['start_time']).dt.strftime('%H:%M')

game_transformed.drop_duplicates("game_id", inplace=True)
game_transformed.set_index("game_id", inplace=True)


game_transformed.head()

,year,round,date,start_time,attendance,home_team_score,away_team_score,rain_fall,home_team_id,away_team_id,venue_name,stadium_id
game_id,,,,,,,,,,,,
2021SF02,2021,SF,2021-09-04,19:20,30647,78,79,2.2,2,18,Gabba,18
2021R809,2021,R8,2021-05-09,16:40,15403,95,71,0.0,2,6,Gabba,18
2021R706,2021,R7,2021-05-01,19:25,20007,93,44,6.2,2,13,Gabba,18
2021R506,2021,R5,2021-04-17,19:25,23544,102,45,0.0,2,5,Gabba,18
2021R2304,2021,R23,2021-08-21,16:35,21845,125,87,0.0,2,17,Gabba,18

### 7. Transform TV DataFrame with team_id, TVS, year 2020

In [72]:
df1 = stats_transformed[stats_transformed['year'] == 2020]
df1

,year,player_id,rebounds,inside_50s,clearances,contested_possessions,team_id
game_id,,,,,,,
2020R104,2020,2015652891,2,1,0,8,1
2020R205,2020,2015652891,1,4,1,4,1
2020R307,2020,2015652891,0,0,0,1,1
2020R407,2020,2012662083,8,0,0,4,1
2020R507,2020,2012662083,2,1,0,1,1
...,...,...,...,...,...,...,...
2020R1701,2020,2017662715,2,1,0,2,15
2020EF01,2020,2014668660,1,0,1,6,15
2020R401,2020,2016655002,2,3,0,3,16
2020R503,2020,2016655002,1,0,2,3,16
2020R1604,2020,2015654090,0,1,0,7,17

In [78]:
df2 = df1.groupby(['team_id','year']).agg({'rebounds':'sum','inside_50s':'sum', 'clearances':'sum','contested_possessions':'sum'})
df2

              rebounds  inside_50s  clearances  contested_possessions
team_id year
1       2020        54          15           5                     64
2       2020        33          33          11                     79
3       2020         1          36          12                     76
4       2020        16          54          80                    163
5       2020         7          13          14                     58
6       2020        19          32          19                     52
7       2020         7          38           8                     57
8       2020        12          25          15                     72
9       2020        11          12           4                     43
10      2020         2          12          12                     45
11      2020         7          19          11                     39
12      2020        13          14          17                     44
13      2020         8          16           8                     21
14      2020         3           6           2                     18
15      2020         5           7           5                     23
16      2020         3           3           2                      6
17      2020         0           1           0                      7

In [79]:
# sum specific columns
df2['sum']=df2.iloc[:,0:4].sum(axis=1)
df2

              rebounds  inside_50s  clearances  contested_possessions  sum
team_id year
1       2020        54          15           5                     64  138
2       2020        33          33          11                     79  156
3       2020         1          36          12                     76  125
4       2020        16          54          80                    163  313
5       2020         7          13          14                     58   92
6       2020        19          32          19                     52  122
7       2020         7          38           8                     57  110
8       2020        12          25          15                     72  124
9       2020        11          12           4                     43   70
10      2020         2          12          12                     45   71
11      2020         7          19          11                     39   76
12      2020        13          14          17                     44   88
13      2020         8          16           8                     21   53
14      2020         3           6           2                     18   29
15      2020         5           7           5                     23   40
16      2020         3           3           2                      6   14
17      2020         0           1           0                      7    8

In [ ]:
cols = ['team_id', 'tvs']
tvs_df = df2[cols].copy()

In [19]:
TV_transformed = pd.merge(team_transformed, left_on='team', right_on='team_name')

TypeError: merge() missing 1 required positional argument: 'right'

In [ ]:
df3 = df2.sum(axis = 1)
df4=pd.DataFrame(df3)
df4.columns=['TVS']


TVS=df4.sort_values(['TVS'],ascending=False)
TVS

                         TVS
team
Western Bulldogs        7128
Melbourne               7035
Brisbane Lions          6684
Geelong                 6628
Port Adelaide           6522
Greater Western Sydney  6418
Sydney                  6132
Essendon                5857
Adelaide                5832
Fremantle               5694
St Kilda                5665
Gold Coast              5660
Hawthorn                5659
Carlton                 5630
West Coast              5601
Collingwood             5502
Richmond                5475
North Melbourne         5362

In [ ]:
TV_transformed = pd.merge(team_transformed, TVS)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [ ]:
# player_transformed.to_csv('player_transformed_result.csv',index=0)
# stadium_transformed.to_csv('stadium_transformed_result.csv',index=0)
# city_transformed.to_csv('city_transformed_result.csv',index=0)
# team_transformed.to_csv('team_transformed_result.csv',index=0)
# game_transformed.to_csv('game_transformed_result.csv',index=0)
# stats_transformed.to_csv('stats_transformed_result.csv',index=0)

## Create database connection

In [ ]:
connection_string = "postgres:postgres@localhost:5432/AFLGame_db"
engine = create_engine(f'postgresql://{connection_string}')

In [56]:
db_user = 'postgres'
database_path = f"postgresql://{db_user}:{DB_PWD}@localhost:5432/AFLGame_db"
engine = create_engine(database_path).connect()

## Load DataFrames into database

In [61]:
# player_transformed.to_sql(name='player', con=engine, if_exists='append')
team_transformed.to_sql(name='team', con=engine, if_exists='append')
# city_transformed.to_sql(name='city', con=engine, if_exists='append', index=True)
# stadium_transformed.to_sql(name='stadium', con=engine, if_exists='append', index=True)
# stats_transformed.to_sql(name='stats', con=engine, if_exists='append', index=True)
# game_transformed.to_sql(name='game', con=engine, if_exists='append', index=True)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "team_name" of relation "team" does not exist
LINE 1: INSERT INTO team (team_id, team_name) VALUES (1, 'Adelaide')...
                                   ^

[SQL: INSERT INTO team (team_id, team_name) VALUES (%(team_id)s, %(team_name)s)]
[parameters: ({'team_id': 1, 'team_name': 'Adelaide'}, {'team_id': 2, 'team_name': 'Brisbane Lions'}, {'team_id': 3, 'team_name': 'Carlton'}, {'team_id': 4, 'team_name': 'Collingwood'}, {'team_id': 5, 'team_name': 'Essendon'}, {'team_id': 6, 'team_name': 'Fremantle'}, {'team_id': 7, 'team_name': 'Gold Coast'}, {'team_id': 8, 'team_name': 'Geelong'}  ... displaying 10 of 18 total bound parameter sets ...  {'team_id': 17, 'team_name': 'West Coast'}, {'team_id': 18, 'team_name': 'Western Bulldogs'})]
(Background on this error at: https://sqlalche.me/e/14/f405)