In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from pathlib import Path

In [4]:
team_stats_path = "teamstats2012-2021.csv"

In [5]:
team_stats=pd.read_csv(team_stats_path)

In [6]:
df1=team_stats
df1.head(5)

,gameId,team,year,round,playerId,displayName,gameNumber,Disposals,Kicks,Marks,...,Brownlow Votes,Contested Possessions,Uncontested Possessions,Contested Marks,Marks Inside 50,One Percenters,Bounces,Goal Assists,% Played,Subs
0,2021R104,Adelaide,2021,R1,2021661124,"Berry, Sam",1,8,6,1,...,0,4,5,0,0,0,0,1,80,-
1,2021R104,Adelaide,2021,R1,2012662083,"Brown, Luke",168,5,2,0,...,0,2,3,0,0,0,0,0,23,Off
2,2021R104,Adelaide,2021,R1,2020665315,"Butts, Jordon",3,10,5,3,...,0,5,5,1,0,8,0,0,93,-
3,2021R104,Adelaide,2021,R1,2018689604,"Doedee, Tom",31,13,9,4,...,0,8,6,0,0,7,0,0,84,-
4,2021R104,Adelaide,2021,R1,2018703883,"Frampton, Billy",9,14,10,8,...,0,5,9,3,4,2,0,0,90,-

In [7]:
df2=df1.groupby(['team'])['Rebounds','Inside 50s','Clearances','Contested Possessions'].sum()

C:\Users\MOHAMMED\AppData\Local\Temp\ipykernel_13016\2270001918.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df2=df1.groupby(['team'])['Rebounds','Inside 50s','Clearances','Contested Possessions'].sum()

In [8]:
df2

,Rebounds,Inside 50s,Clearances,Contested Possessions
team,,,,
Adelaide,8023,11769,8407,32520
Brisbane Lions,8135,10862,8280,29723
Carlton,7693,10496,7989,29460
Collingwood,7790,11621,8103,32026
Essendon,7966,11141,7759,29746
Fremantle,7736,10731,8232,31166
Geelong,7851,12448,8586,33411
Gold Coast,8166,10050,7824,29332
Greater Western Sydney,8715,11057,8751,31276
Hawthorn,7567,12274,8547,31653
Melbourne,7769,10946,7952,31196
North Melbourne,7937,11246,8102,30606
Port Adelaide,7642,11987,8693,32168
Richmond,7945,12082,7994,31529
St Kilda,7614,10768,7590,28825
Sydney,8991,12236,8747,34055
West Coast,7723,11545,8616,31504
Western Bulldogs,7587,11765,8529,31998

In [9]:
df3 = df2.sum(axis = 1)

In [10]:
df4=pd.DataFrame(df3)

In [11]:
df4.columns=['TVS']

In [12]:
TVS=df4.sort_values(['TVS'],ascending=False)

In [13]:
TVS

                          TVS
team
Sydney                  64029
Geelong                 62296
Adelaide                60719
Port Adelaide           60490
Hawthorn                60041
Western Bulldogs        59879
Greater Western Sydney  59799
Richmond                59550
Collingwood             59540
West Coast              59388
North Melbourne         57891
Fremantle               57865
Melbourne               57863
Brisbane Lions          57000
Essendon                56612
Carlton                 55638
Gold Coast              55372
St Kilda                54797

In [14]:
filepath = Path('TVS.csv')
TVS.to_csv(filepath)