In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from pathlib import Path

In [4]:
team_stats_path = "teamstats2012-2021.csv"

In [5]:
team_stats=pd.read_csv(team_stats_path)

In [6]:
df1=team_stats
df1.head(5)

,gameId,team,year,round,playerId,displayName,gameNumber,Disposals,Kicks,Marks,...,Brownlow Votes,Contested Possessions,Uncontested Possessions,Contested Marks,Marks Inside 50,One Percenters,Bounces,Goal Assists,% Played,Subs
0,2021R104,Adelaide,2021,R1,2021661124,"Berry, Sam",1,8,6,1,...,0,4,5,0,0,0,0,1,80,-
1,2021R104,Adelaide,2021,R1,2012662083,"Brown, Luke",168,5,2,0,...,0,2,3,0,0,0,0,0,23,Off
2,2021R104,Adelaide,2021,R1,2020665315,"Butts, Jordon",3,10,5,3,...,0,5,5,1,0,8,0,0,93,-
3,2021R104,Adelaide,2021,R1,2018689604,"Doedee, Tom",31,13,9,4,...,0,8,6,0,0,7,0,0,84,-
4,2021R104,Adelaide,2021,R1,2018703883,"Frampton, Billy",9,14,10,8,...,0,5,9,3,4,2,0,0,90,-

In [17]:
df1_2=df1.query("year == 2021")

In [18]:
df1_2

,gameId,team,year,round,playerId,displayName,gameNumber,Disposals,Kicks,Marks,...,Brownlow Votes,Contested Possessions,Uncontested Possessions,Contested Marks,Marks Inside 50,One Percenters,Bounces,Goal Assists,% Played,Subs
0,2021R104,Adelaide,2021,R1,2021661124,"Berry, Sam",1,8,6,1,...,0,4,5,0,0,0,0,1,80,-
1,2021R104,Adelaide,2021,R1,2012662083,"Brown, Luke",168,5,2,0,...,0,2,3,0,0,0,0,0,23,Off
2,2021R104,Adelaide,2021,R1,2020665315,"Butts, Jordon",3,10,5,3,...,0,5,5,1,0,8,0,0,93,-
3,2021R104,Adelaide,2021,R1,2018689604,"Doedee, Tom",31,13,9,4,...,0,8,6,0,0,7,0,0,84,-
4,2021R104,Adelaide,2021,R1,2018703883,"Frampton, Billy",9,14,10,8,...,0,5,9,3,4,2,0,0,90,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9517,2021GF01,Western Bulldogs,2021,GF,2012841186,"Treloar, Adam",190,27,11,3,...,0,8,19,0,0,1,1,1,74,-
9518,2021GF01,Western Bulldogs,2021,GF,2020867730,"Vandermeer, Laitham",23,0,0,0,...,0,0,0,0,0,0,0,0,0,-
9519,2021GF01,Western Bulldogs,2021,GF,2020874392,"Weightman, Cody",19,7,3,1,...,0,2,6,0,1,3,0,1,63,-
9520,2021GF01,Western Bulldogs,2021,GF,2016873012,"Williams, Bailey",82,13,8,3,...,0,5,9,0,0,3,0,1,79,-
9521,2021GF01,Western Bulldogs,2021,GF,2009879614,"Wood, Easton",188,9,4,4,...,0,2,6,0,0,4,0,0,83,-

In [19]:
df2=df1_2.groupby(['team'])['Rebounds','Inside 50s','Clearances','Contested Possessions'].sum()

C:\Users\MOHAMMED\AppData\Local\Temp\ipykernel_13016\2268916263.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df2=df1_2.groupby(['team'])['Rebounds','Inside 50s','Clearances','Contested Possessions'].sum()

In [20]:
df2

,Rebounds,Inside 50s,Clearances,Contested Possessions
team,,,,
Adelaide,904,1095,769,3064
Brisbane Lions,956,1357,946,3425
Carlton,887,1106,749,2888
Collingwood,878,1024,714,2886
Essendon,873,1209,793,2982
Fremantle,832,1122,795,2945
Geelong,903,1310,979,3436
Gold Coast,936,1071,753,2900
Greater Western Sydney,990,1192,892,3344
Hawthorn,891,1072,758,2938
Melbourne,983,1405,931,3716
North Melbourne,887,1041,726,2708
Port Adelaide,933,1288,845,3456
Richmond,831,1130,661,2853
St Kilda,839,1120,771,2935
Sydney,892,1243,817,3180
West Coast,794,1091,798,2918
Western Bulldogs,942,1423,1035,3728

In [21]:
df3 = df2.sum(axis = 1)

In [22]:
df4=pd.DataFrame(df3)

In [23]:
df4.columns=['TVS']

In [24]:
TVS=df4.sort_values(['TVS'],ascending=False)

In [25]:
TVS

                         TVS
team
Western Bulldogs        7128
Melbourne               7035
Brisbane Lions          6684
Geelong                 6628
Port Adelaide           6522
Greater Western Sydney  6418
Sydney                  6132
Essendon                5857
Adelaide                5832
Fremantle               5694
St Kilda                5665
Gold Coast              5660
Hawthorn                5659
Carlton                 5630
West Coast              5601
Collingwood             5502
Richmond                5475
North Melbourne         5362

In [26]:
filepath = Path('TVS.csv')
TVS.to_csv(filepath)